$primary-color: #1775b9;
$secondary-color: #d5d5d5;

$white: #fff;
$black: #000;

$primary-font-color: #070707;
$secondary-font-color: #fff;

$input-background-color: #e9e9e9;
$input-label-color: #717171;

$input-border-color: #959595;
$input-active-border-color: #2b74ba;

$todo-list-background-color: #a2ceed;

$shadow: rgb(0 0 0 / 30%)